$cropbox-color: #FFF;

.imagecrop {
  position: relative;
  display: inline-block;
  font-size: 0;

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .cropbox {
    position: absolute;
    cursor: move;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px dashed $cropbox-color;
    }

    .resizehandle {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 10px;
      height: 10px;
      background-color: $cropbox-color;
      border-radius: 50%;
      z-index: 1;
      cursor: se-resize;
      transform: translateX(50%) translateY(50%);
    }
  }
}
